@use '../../styles/tokens/colors' as colors;

.button {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s, transform 0.2s;
  outline: none;
  text-align: center;
  display: inline-block;
  width: 112px;
  height: 48px; 

  &--solid {
    background-color: colors.getColor("brand-pure");
    color: colors.getColor("bg-pure");
    
    &:hover {
      background-color: colors.getColor("brand-dark");
      transform: translateY(-2px);
    }
  }

  &--subtle {
    background-color: colors.getColor("brand-light"); 
    color: colors.getColor("brand-pure");
    border: 2px solid colors.getColor("brand-pure");

    &:hover {
      background-color: colors.getColor("brand-pure");
      color: colors.getColor("bg-pure");
      transform: translateY(-2px);
    }
  }

  &--outline {
    background-color: transparent;
    color: colors.getColor("brand-pure");
    border: 2px solid colors.getColor("neutral-2"); 

    &:hover {
      background-color: colors.getColor("brand-pure");
      color: colors.getColor("bg-pure");
      transform: translateY(-2px);
    }
  }

  &--dark {
    background-color: colors.getColor("darkblue-pure");
    color: colors.getColor("bg-pure");
    border: 2px solid colors.getColor("darkblue-pure");

    &:hover {
      background-color: colors.getColor("neutral-1");
      color: colors.getColor("bg-pure");
      transform: translateY(-2px);
    }
  }
}

.button-container {
  display: flex;
  gap: 20px; 
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.container {
  padding: 20px;
  text-align: center;  
}
